.header-top {
  background-image: url("https://64.media.tumblr.com/1712efc45676e1ee927b59d15ff7d445/f7b9903ac471957a-c7/s1280x1920/0dd0d26f793d3680abb260e5ebc9a643237e3f0c.png");
  background-size: cover; /* This ensures the image covers the entire header */
    background-position: center; /* This centers the image */
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 18rem; 
}

.header-name {
  font-size: 2.3rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 0;
  background: linear-gradient(to right, #c91d84, #e08844);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.header-icons {
  display: flex;
  align-items: center;
  font-size: 35px;
  cursor: pointer;
  gap: 10px;
}

.icon-link {
  color: #4a4a4a;
  transition: color 0.3s ease;
}

.icon-link:hover {
  color: #F0385E;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.search-container input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  width: 200px;
}

.search-container button {
  margin-left: 10px;
  padding: 0.5rem 1rem;
  background-color: #F0385E;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.search-container button:hover {
  background-color: black;
}
