.header-top {
    background-color: #fcdeb6;
    top: 0px;
    padding: 2rem; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    position: sticky; 
    height: 14rem;
  
}

.header-text {
    font-size: 2rem; 
    font-weight: bold; 
    color: #d46be9; 
}

.pic-header {
    position: flex;
    height: 10rem; 
    width: 15rem;
    margin-right: -55rem; 
    object-fit: cover;
    margin-bottom:10px ;
}
.header-icons {
    display: flex;
    margin-right: 30px;
    margin-bottom: 200px;
    
  }
  
  .header-icons  {
    margin-left: 15px;
    font-size: 25px;
    cursor: pointer;
    gap: 10px;
  }
  .react-button{
    color: #79092a;

  }