.login-container {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: pink; 
    display: flex;
   
   
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
   
   position: absolute;
    background: #b385d4;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .header .text {
    font-size: 24px;
    font-weight: bold;
    color: #8b0000;
    margin-bottom: 20px;
  }
  
  .login-form {
    width: 100%;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input-group img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
  
  .input-field {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;
    flex: 1;
  }
  
  .submit-button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-color: #8a2be2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #6a1bb1;
  }
  
  .signup-link {
    margin-top: 20px;
    color: #555;
  }
  
  .signup-link a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  