section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
  gap: 1rem;
 
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  
  max-width: 28rem; 
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-container {
  width: 90%;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: white;
}

.product-image {
  height: 90%;
  width: 15rem; 
  align-items: center;
}

.details {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  padding: 10px; 
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgba(240, 56, 94, 0.1); 
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem; 
  font-weight: bold;
  color: #F0385E; 
}

.description {
  font-size: 0.75rem; 
  font-weight: 300;
}

.actions {
  display: flex;
  width: 100%;
  gap: 0.5rem; 
}

.buy-now {
  height: 3.5rem; 
  width: 90%;
  background-color: #F0385E; 
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
}

.buy-now:hover {
  background-color: black;
  color: white;
}

.icon-buttons {
  display: flex;
  width: 10%;
  flex-direction: column;
  gap: 0.5rem;
}

.icon-button {
  display: flex;
  height: 1.5rem;
  width: 1.5rem; 
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.125rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #F0385E;
}