.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: auto;
  min-height: 24rem; /* 96 * 0.25rem */
  width: 20rem; /* 80 * 0.25rem */
  max-width: 28rem; /* 112 * 0.25rem */
  gap: 1rem; /* 4 * 0.25rem */
}

.image-container {
  display: flex;
  height: 100%;
  width: 20rem; /* 80 * 0.25rem */
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: white;
}

.product-image {
  height: 60%;
  width: 15rem; /* 60 * 0.25rem */
}

.details {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem; /* 2 * 0.25rem */
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgba(240, 56, 94, 0.1); /* bg-brand_pink/10 */
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem; /* 10px */
  font-weight: bold;
  color: #F0385E; /* brand_pink */
}

.description {
  font-size: 0.75rem; /* xs */
  font-weight: 300;
}

.actions {
  display: flex;
  width: 100%;
  gap: 0.5rem; /* 2 * 0.25rem */
}

.buy-now {
  height: 3.5rem; /* 14 * 0.25rem */
  width: 90%;
  background-color: #F0385E; /* brand_pink */
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.buy-now:hover {
  background-color: black;
  color: white;
}

.icon-buttons {
  display: flex;
  width: 10%;
  flex-direction: column;
  gap: 0.5rem; /* 2 * 0.25rem */
}

.icon-button {
  display: flex;
  height: 1.5rem; /* 6 * 0.25rem */
  width: 1.5rem; /* 6 * 0.25rem */
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.125rem; /* 2px */
  transition: background-color 0.2s ease-in-out;
}

.icon-button:hover {
  background-color: #F0385E; /* brand_pink */
}
