section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem; 
  width: 90%;
  max-width: 1800px; 
  margin: 0 auto;
  padding: 1rem; 
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 250px; 
  height: auto; 
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.image-container {
  width: 100%;
  height: 200px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9; 
  margin-bottom: 1rem; 
}

.product-image {
  max-height: 100%; 
  max-width: 100%;
  object-fit: contain; 
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
  text-align: left;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
}

.title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem; 
  margin-right: 0.5rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgba(240, 56, 94, 0.1);
  padding: 0.25rem 0.75rem; 
  font-size: 1rem;
  font-weight: bold;
  color: #F0385E;
}

.description {
  font-size: 0.875rem; 
  font-weight: 300;
  color: #555; 
  line-height: 1.4; 
  margin-bottom: 1rem; 
}

.actions {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  padding-top: 1rem;
  border-top: 1px solid #eee; 
  margin-top: auto; 
}

.buy-now {
  flex: 1;
  height: 3rem;
  background-color: #F0385E;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1rem; 
}

.buy-now:hover {
  background-color: black;
  color: white;
}

.icon-buttons {
  display: flex;
  gap: 0.5rem;
}

.icon-button {
  display: flex;
  height: 3rem; 
  width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
  background-color: #f2f2f2; 
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #F0385E;
  color: white;
}
